@{
	Layout = "_LayoutLatihan";
}

<h1 id="judul">Ini sebuah judul</h1>
<div class="container">
	<section id="a">
		<p class="p1">Ini sebuah paragraf ke 1</p>
		<a href="">Ini sebuah link</a>
		<p class="p2">Ini sebuah paragraf ke 2</p>
		<p class="p3">Ini sebuah paragraf ke 3</p>
	</section>
	<section id="b">
		<p id="a">ini paragraf 4</p>
		<ul id="a">
			<li class="list">Ini sebuah list</li>
			<li class="list">Ini sebuah list</li>
			<li class="list">Ini sebuah list</li>
		</ul>
		<p class="p1">ini p1 yang nyempil</p>
	</section>
</div>