/*div{
    width: 150px;
    height: 150px;
}

body{
    margin: 0;
}

.satu{
    background-color: cyan;
    
}

.dua{
    background-color: pink;
    position: absolute;
    top: 0;
    right: 0;
}

.tiga{
    background-color: beige;
}

.container{
    border: 1px solid black;
    width: 500px;
    height: 650px;
    margin: 10px auto;
    position: relative;
}*/

body{
    margin:0;
}
.container{
    border: 1px solid black;
    background-color: aqua;
    width: 100%;
    height: 100px;
    padding-top: 20px;
    position: fixed;
}

a{
    color: black;
    text-decoration: none;
    font-size: 40px;
}

.satu,
.dua,
.tiga{
    margin-right: 40px;
    margin-left: 20px;
    padding-top: 20px;
}

.empat{
    position: absolute;
    top: 0;
    right: 0;
}

h1.sticky { 
    /*position: sticky;*/
    top: 0;
    background-color: yellow;
    padding: 50px;
    font-size: 20px;
    margin: auto;
    font-size: 50px;
}