*{
    border: 2px solid #dddd;
    padding: 15px;
    margin: 15px;
}

html{
    margin: 0;
}

body{
    max-width: 700px;
    margin: 20px auto;
}

/*.p1, .p2, .p3{
    background-color: yellow;
}*/

/*#a>.p1,.p2,.p3{
    background-color: cyan;
}*/

/*section#b ul#a{
    background-color: yellow;
}*/

/*section#b ul#a li.list::marker{
    color: yellow;
}*/

/*section#b ul#a li.brown::selection{
    background-color: brown;
}*/

section#b ul#a .list:last-child{
    background: brown;
}

/*p:last-child {
    background: #ff0000;
}*/