@model ConsumeMCC67API.Models.Product

<h1>Delete Product</h1>

<form asp-action="Delete">
	<div class="mb-3">
		<label asp-for="Id" class="form-label">Id</label>
		<input asp-for="Id" class="form-control" readonly>
	</div>
	<div class="mb-3">
		<label asp-for="Name" class="form-label">Name</label>
		<input asp-for="Name" class="form-control" readonly>
	</div>
	<div class="mb-3">
		<label asp-for="SupplierId" class="form-label">Supplier Id</label>
		<input asp-for="SupplierId" class="form-control" readonly>
	</div>
	<input type="submit" value="Delete" class="btn btn-danger"/>
</form>