@*@model IEnumerable<ConsumeMCC67API.Models.Product>*@
    @model ConsumeMCC67API.Models.Product
    @{
    Layout = "_LayoutProduct";
    }

    <table id="tableProduct" class="table table-bordered table-hover" style="width:100%">
        <thead class="thead-dark text-center">
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Name</th>
                <th scope="col">Supplier Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>


    <a class="btn btn-primary text-light" data-toggle="modal" data-target="#addProduct">Add Product</a>

    <!-- ModalCreate -->
    <div class="modal fade" id="addProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="needs-validation" novalidate>
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="productName">Product Name</label>
                                <input asp-for="Name" name="productName" type="text" class="form-control"
                                    id="productName" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="supplierName">Supplier Name</label>
                                <select asp-for="SupplierId" name="supplierName" asp-items=ViewBag.SupplierViewBag
                                    class="custom-select" id="supplierName" value="@ViewBag.SupplierViewBag" required>
                                    <option selected disabled value="">Choose...</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid supplier.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="submitBtn" class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>