@{
Layout = "_LayoutPokemon";
}

<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th class="text-center">No.</th>
      <th class="text-center">Name</th>
      <th class="text-center">Action</th>
    </tr>
  </thead>
  <tbody id="pokemonData">

  </tbody>
</table>

<!-- ModalPokeDetails -->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title font-weight-bold text-uppercase" id="exampleModalLabel"></p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalBody">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
